<div class="p-4 text-white bg-blue-700">
    <div class="mx-auto container flex">
        <div class="w-32">
            LOGO
        </div>
        <div class="ml-auto">
            NAVIGATION
        </div>
    </div>
</div>