<header class="mx-auto container flex items-center p-8 text-dark-0">
    <div class="w-60">
        {% include 'layout/logo.html.twig' %}
    </div>
    <nav class="ml-auto space-x-8">
        {% include 'elements/nav-link.html.twig' with {'link': '/', 'title': 'Startseite', 'forHeader': true} %}
        {% include 'elements/nav-link.html.twig' with {'link': '/ueber-uns', 'title': 'Über uns', 'forHeader': true} %}
        {% include 'elements/nav-link.html.twig' with {'link': '/blog', 'title': 'Blog', 'forHeader': true} %}
        {% include 'elements/button.html.twig' with {'link': '/kontakt', 'title': 'Kontaktiere uns', 'transparent': true} %}
    </nav>
</header>
