<a href="" class="group relative block transition-transform scale-100 hover:scale-105 ease-linear duration-200">
    <span class="bg-white inline-block px-2 py-1 rounded-lg relative top-0.5">
        <svg class="w-6 h-6 fill-dark-0" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
            <path d="m590.454 251 125.963 104.97-502.979 603.575 502.98 603.575-125.964 104.97L0 959.544 590.454 251Zm738.395 0 590.454 708.545-590.454 708.544-126.073-104.97 503.089-603.574-503.089-603.575L1328.85 251Z" fill-rule="evenodd"/>
        </svg>
    </span>
    <span class="text-4xl font-thin text-white">bitblicke</span>
</a>
